certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.4
django-cors-headers==2.1.0
greenlet==0.4.12
idna==2.5
msgpack-python==0.4.8
neovim==0.1.13
py==1.4.34
pytest==3.2.1
pytest-django==3.1.2
pytz==2017.2
requests==2.18.3
urllib3==1.24.2
